<h1>Listado de productos</h1>
<a href="/">Ingresa un producto</a><hr>

{{#each products}}
    <div>
        {{this.id}}<br/>
        {{this.title}}<br/>
        {{this.price}}<br/>
        <img src="{{this.thumbnail}}" >
    </div>
{{/each}}