<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form EJS</title>
</head>
<body>
    <h1>Formulario de ingreso de productos en EJS</h1> 
<a href="/ejs/productos">Lista de productos</a><hr>

  <form action="/api/productos/form" id="formulario" method="POST">
    <div>
      <input type="input" id="title"  name="title" placeholder="cuchara">

      <input type="input" id="price" name ="price" placeholder="precio">

      <input type="input" id="thumbnail" name="thumbnail" placeholder="url de una imagen">
    </div>

    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</body>
</html>