<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prods EJS</title>
</head>
<body>
    <h1>Formulario de ingreso de productos desde EJS</h1>
    <a href="/ejs/form">Formulario de ingreso</a><hr>
    <% products.forEach(item => {%> 
        <div>
            <p>Id: <%=item.id%></p>
            <p>Nombre: <%=item.title%></p>
            <p>Precio: <%=item.price%></p>
            <img src="<%=item.thumbnail%>">
        </div>
    <%});%> 


</body>
</html>